<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/panel.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('./components/menu'); %>
            <div class="content col-md-10 d-flex align-items-center justify-content-center">
                <table class="table table-bordered">
                    <thead class="table-primary">
                        <tr>
                            <th>Dominio</th>
                            <th>Proveedor</th>
                            <th>Fecha de Emisión</th>
                            <th>Fecha de Expiración</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% datos.forEach(cert => { %>
                            <tr class="<%= cert.cert_status %>">
                            <td><%= cert.domain %></td>
                            <td><%= cert.cert_provider %></td>
                            <td><%= cert.issue_date %></td>
                            <td><%= cert.expiry_date %></td>
                            <td><%= cert.cert_status %></td>
                            <td>
                                <% if (cert.cert_status === 'expiring_soon' || cert.cert_status === 'expired') { %>
                                    <button class="btn btn-outline-dark" onclick="renewCertificate('<%= cert.id %>')">Renovar</button>
                                <% } %>
                            </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        function renewCertificate(certId) {
            const confirmRenewal = confirm("¿Estás seguro de que deseas renovar este certificado?");
            if (!confirmRenewal) {
                return;
            }
    
            fetch(`http://localhost:3000/certificates/renew/${certId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    return response.json(); // Procesamos la respuesta como JSON
                } else {
                    throw new Error('Error al renovar el certificado.');
                }
            })
            .then(data => {
                if (!data.error) {
                    alert(data.body); // Mostramos el mensaje de éxito usando la propiedad "body"
                    location.reload(); // Recargamos la página para reflejar los cambios
                } else {
                    throw new Error(data.body);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Hubo un error al renovar el certificado.');
            });
        }
    </script>
</body>
</html>